.App {
  text-align: center;
}

*,
body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headingMain {
  display: block;
  margin: 39px auto 0 auto;
  font-size: 52px;
  font-weight: bold;
}
